<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/js/bootstrap-dialog.min.js"></script>

</head>
<body>
<form id="fileuploadform" action="/file" method="post" enctype = "multipart/form-data">
<div class="container">
  <div class="form-group">
    <label for="originInputFile">원본파일 업로드</label>
    <input type="file" id="fileupload1" name = "originfile" class="filestyle" onchange="fileSelect(this)" >
  </div>
    <div class="form-group">
    <label for="compInputFile">비교본파일 업로드</label>
    <input type="file" id="fileupload2" name = "compfile" class="filestyle" onchange="fileSelect(this)" >
  </div>
  <button id="btnupload" type="submit" class="btn btn-default">제출</button>

</div>

</form>
</body>
</html>