{% extends "sidebar.html" %}
{% block contents %}

    <style>
    .funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

    </style>

    <!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js"></script>
-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/js/bootstrap-dialog.min.js"></script>

    <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>프로젝트 목록</h3>
              </div>
            </div>

            <div class="clearfix"></div>

    <h1>프로젝트 전체 비교</h1>
    <div class="funkyradio">

        <div class="funkyradio-info">
            <input type="checkbox" name="checkbox" id="check6" />
            <label for="check6">주석 제거</label>
        </div>
    </div>

    <button id="relay" class="btn btn-default">마지막 중단 지점부터 비교하기</button>
    <button id="initial" class="btn btn-default">처음부터 비교하기</button>
              </div>
        </div>
<script language="JavaScript">
    function compareStart() {
                $.ajax({
                    url: '/compare',
                    data: {'lastPair': varLastPair, 'compareMethod': selectedMethod,
                            'commentRemove': document.getElementsByName('checkbox')[0].checked == true ? 1 : 0},
                    type: 'POST',
                    success: function (response) {
                        console.log(response);

                        numOfPair = response;
                        dialog = new BootstrapDialog({
                            title: '비교 진행 중...',
                            message: '비교 작업 준비 중입니다...',
                            buttons: [{
                                id: 'btn-1',
                                label: '비교 취소'
                            }],
                            closable: false
                        });
                        dialog.realize();
                        var btn1 = dialog.getButton('btn-1');
                        btn1.click(function() {
                            completed = 1;
                            dialog.close();
                            document.canceled.submit();
                        });
                        dialog.open();

                        setInterval(checkProcess, 1000);
                        // checkProcess()
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

    var numOfPair = 0;
    var dialog;
    var varLastPair = {{ lastPair }};
    var compareMethod = {{ compareMethod }};
    var selectedMethod = 1;
    var completed = 0;
    $(function() {
        $('#relay').click(function() {
            compareStart();

        });
    });

    $(function() {
        $('#initial').click(function() {
            BootstrapDialog.show({
                    message: '비교 방법 설정',
                    buttons: [{
                        label: '순서 고려한 비교',
                        action: function(dialog) {
                            varLastPair = 0;
                            compareMethod = 1;
                            dialog.close();
                            compareStart();
                        }
                    }, {
                        label: '순서 고려하지 않은 비교',
                        action: function(dialog) {
                            varLastPair = 0;
                            compareMethod = 2;
                            dialog.close();
                            compareStart();
                        }
                    }]
                });
        });
    });

    function checkProcess() {
        if(completed == 1) {
            return;
        }

        var number = -1;
        $.ajax({
                url: '/compare/state',
                data: 'JSON',
                type: 'GET',
                success: function(response) {
                    console.log(response);
                    number = response;
                    if(number != -1) {
                        dialog.setMessage(number + " / " + numOfPair + ' 완료');
                    }
                    if(number < numOfPair) {
                        // sleep(200);
                        // checkProcess();
                    } else {
                        dialog.close();
                        document.complete.submit();
                    }
                },
                error: function(error) {
                    console.log(error);
                }
        });
    }
    function sleep(delay) {
        var start = new Date().getTime();
        while (new Date().getTime() < start + delay);
    }

    $("#submit").load(function(){
    alert("Image loaded.");
    });

</script>

    <form name="complete" action="/result/{{ projectId }}" method="get"></form>
    <form name="canceled" action="/compare/cancel" method="post"></form>

{% endblock %}