{% extends "sidebar.html" %}
{% block contents %}

    <!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js"></script>
-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/js/bootstrap-dialog.min.js"></script>

    <style>
    #radioBtn .notActive{
        color: #3276b1;
        background-color: #fff;
    }
    </style>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/funky.css') }}">

    <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>프로젝트 비교</h3>
              </div>
            </div>

            <div class="clearfix"></div>

              <br /><br />

              <div class="form-group">
    		<label for="comment" class="col-sm-2 col-md-2 control-label text-left">주석 제거 여부</label>
    		<div class="col-sm-7 col-md-7">
    			<div class="input-group">
    				<div id="radioBtn" class="btn-group">
    					<a class="btn btn-primary btn-sm active" data-toggle="comment" data-title="1">제거</a>
    					<a class="btn btn-primary btn-sm notActive" data-toggle="comment" data-title="0">유지</a>
    				</div>
    				<input type="hidden" name="comment" id="comment" value="1">
    			</div>
    		</div>
    	</div>
        <br /><br />
        <div class="form-group">
        	<label for="fun" class="col-sm-2 col-md-2 control-label text-left">토크나이저 선택</label>
    		<div class="col-sm-7 col-md-7">
    			<div class="input-group">
    				<div id="radioBtn" class="btn-group">
    					<a class="btn btn-primary btn-sm active" data-toggle="token" data-title="0">공백 토크나이저</a>
                        <a class="btn btn-primary btn-sm notActive" data-toggle="token" data-title="1">언어별 토크나이저</a>
                         < C/Cpp, Java, Python 지원 >
    				</div>
    				<input type="hidden" name="token" id="token" value="0">
    			</div>
    		</div>
    	</div>
              <br /><br />
        <div class="form-group">
        	<label for="fun" class="col-sm-2 col-md-2 control-label text-left">비교 알고리즘 선택</label>
    		<div class="col-sm-7 col-md-7">
    			<div class="input-group">
    				<div id="radioBtn" class="btn-group">
    					<a class="btn btn-primary btn-sm active" data-toggle="method" data-title="1">LCS</a>
                        <a class="btn btn-primary btn-sm notActive" data-toggle="method" data-title="2">???</a>
    				</div>
    				<input type="hidden" name="method" id="method" value="1">
    			</div>
    		</div>
    	</div>
              <br /><br />

    <button id="relay" class="btn btn-default">마지막 중단 지점부터 비교하기</button>
    <button id="initial" class="btn btn-default">처음부터 비교하기</button>
              </div>
        </div>
<script language="JavaScript">
    var inter;

    function compareStart() {
                $.ajax({
                    url: '/compare',
                    data: {'lastPair': varLastPair, 'compareMethod': selectedMethod,
                            'commentRemove': document.getElementById("comment").value,
                            'tokenizer': tokenizer},
                    type: 'POST',
                    success: function (response) {
                        console.log(response);

                        numOfPair = response;
                        dialog = new BootstrapDialog({
                            title: '비교 진행 중...',
                            message: '비교 작업 준비 중입니다...',
                            buttons: [{
                                id: 'btn-1',
                                label: '비교 취소'
                            }],
                            closable: false
                        });
                        dialog.realize();
                        var btn1 = dialog.getButton('btn-1');
                        btn1.click(function() {
                            completed = 1;
                            dialog.close();
                            document.canceled.submit();
                        });
                        dialog.open();

                        inter = setInterval(checkProcess, 1000);
                        // checkProcess()
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

    var numOfPair = 0;
    var dialog;
    var varLastPair = {{ lastPair }};
    var compareMethod = {{ compareMethod }};
    var tokenizer = {{ tokenizer }};
    var commentRemove = {{ commentRemove }};

    var selectedMethod = 1;
    var completed = 0;

    if(varLastPair == 0) {
        document.getElementById("relay").disabled = true;
    }

    $(function() {
        $('#relay').click(function() {
            if(varLastPair == 0) {
                alert("저장된 취소 지점이 없습니다.");
                return;
            }
            compareStart();

        });
    });

    $(function() {
        $('#initial').click(function() {
            varLastPair = 0;
            commentRemove = document.getElementById("comment").value;
            tokenizer = document.getElementById("token").value;
            selectedMethod = document.getElementById("method").value;

            compareStart();
        });
    });

    function checkProcess() {
        if(completed == 1) {
            return;
        }

        var number = -1;
        $.ajax({
                url: '/compare/state',
                data: 'JSON',
                type: 'GET',
                success: function(response) {
                    console.log(response);
                    number = response;
                    if(number != -1) {
                        dialog.setMessage(number + " / " + numOfPair + ' 완료');
                    }
                    if(number < numOfPair) {
                        // sleep(200);
                        // checkProcess();
                    } else {
                        clearInterval(inter);
                        // sleep(500);
                        dialog.close();
                        document.complete.submit();
                    }
                },
                error: function(error) {
                    console.log(error);
                }
        });
    }
    function sleep(delay) {
        var start = new Date().getTime();
        while (new Date().getTime() < start + delay);
    }

    $("#submit").load(function(){
    alert("Image loaded.");
    });

</script>

    <form name="complete" action="/result/{{ projectId }}" method="get"></form>
    <form name="canceled" action="/compare/cancel" method="post"></form>

    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">소스코드 비교 옵션 설정</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
    		<label for="comment" class="col-sm-3 col-md-3 control-label text-left">주석 제거 여부</label>
    		<div class="col-sm-7 col-md-7">
    			<div class="input-group">
    				<div id="radioBtn" class="btn-group">
    					<a class="btn btn-primary btn-sm active" data-toggle="comment" data-title="1">제거</a>
    					<a class="btn btn-primary btn-sm notActive" data-toggle="comment" data-title="0">유지</a>
    				</div>
    				<input type="hidden" name="comment" id="comment" value="1">
    			</div>
    		</div>
    	</div>
        <br /><br />
        <div class="form-group">
        	<label for="fun" class="col-sm-3 col-md-3 control-label text-left">토크나이저 선택</label>
    		<div class="col-sm-7 col-md-7">
    			<div class="input-group">
    				<div id="radioBtn" class="btn-group">
    					<a class="btn btn-primary btn-sm active" data-toggle="token" data-title="0">공백 토크나이저</a>
                        <a class="btn btn-primary btn-sm notActive" data-toggle="token" data-title="1">언어별 토크나이저</a>
    				</div>
    				<input type="hidden" name="token" id="token" value="0">
    			</div>
    		</div>
    	</div>
              <br /><br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="ordered();">순서 고려한 비교</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="unordered();">순서 고려하지 않은 비교</button>
      </div>

        <script language="JavaScript">
    $('#radioBtn a').on('click', function(){
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('#'+tog).prop('value', sel);

        document.getElementById(tog).value = sel;

        $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
    });

    function ordered() {
        varLastPair = 0;
        compareMethod = 1;
        commentRemove = document.getElementById("comment").value;
        tokenizer = document.getElementById("token").value;
        compareStart();
    }
    function unordered() {
        varLastPair = 0;
        compareMethod = 2;
        commentRemove = document.getElementById("comment").value;
        tokenizer = document.getElementById("token").value;
        compareStart();
    }
    </script>
    </div>

  </div>
</div>

{% endblock %}