        .panel-default {
            margin-bottom : 10px;
        }

        .panel-body {
            padding-top : 5px;
            padding-bottom : 0px;
            padding-left : 10px;
            padding-right : 10px;
        }

        .table{
            text-align : center;
            margin-bottom : 5px;
        }

        .th-header{
            width : 15%;
            text-align : center;
        }

        .header-body{
            padding-top: 10px;
            padding-right: 10px;
            text-align: right;
        }