<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- you need to include the ShieldUI CSS and JS assets in order for the Upload widget to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/jquery-1.11.1.min.js"></script>
    <style>
        .container{
            max-width: 1200px;
            margin: auto;
        }

        .panel-default{
            margin-top : 30px;
        }

        .thumbnail{
            width : 200px;
            height : 200px;
            padding-top : 40px;
            margin-right : 5px;
            text-align : center;
        }

        .panel-body{
            padding-left : 10px;
            display : flex;
        }

    </style>

</head>
    <body>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <form method="post" action="/upload/submit" enctype="multipart/form-data">
                        <input class="fileupload" type="file" id="files" name="files" multiple="multiple" />
                        <p style="text-align: right; margin-top: 20px;">
                            <input type="submit" value="Upload Files" class="sui-button" />
                        </p>
                    </form>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                        {% for file in files %}
                        {%  if loop.index % 5 == 1 %}
                        </tr><tr><td style="border-top:0px;">
                            <div class="thumbnail"><a href="">
                            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTYkTgpEgiPKmLjLDGAhVUMZTn-xMy8TqYHpMH4Ub3fjF9v4bFZiQ">
                            <h6 style="margin-top: 20px;">{{file}}</h6></a></div>
                                </td>
                        {% else %}
                        <td style="border-top:0px;">
                            <div class="thumbnail"><a href="">
                            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTYkTgpEgiPKmLjLDGAhVUMZTn-xMy8TqYHpMH4Ub3fjF9v4bFZiQ">
                            <h6 style="margin-top: 20px;">{{file}}</h6></a></div>
                        </td>
                        {% endif %}
                        {% endfor %}
                        </tr>
                    </table>
                </div>
                <!--
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                -->
                <div id="progress">
                    <div class="bar" style="width: 0%;"></div>
                </div>
            </div>
        </div>
    </body>
</html>

<script type="text/javascript">

</script>